<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrick.mob">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcomescreen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcomescreen.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ChoixReseau"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Verification"
            android:parentActivityName=".Menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Recharge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Urgence"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Envoyer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".EnvoyerServ"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnvoyerCred"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivationMin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivationSms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivationMega"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" />
        <!-- Include the AdActivity configChanges and theme. -->

        <activity
            android:name=".activation_tabs"
            android:label="@string/title_activity_activation_tabs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity android:name=".money_actions"
            android:theme="@style/AppTheme.Dialog"/>
    </application>

</manifest>